<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MidTransIsProduction" value="false" />
    <add key="MidTransEndPointMethod" value="POST" />
    <add key="MidTransEndPointSanbox" value="https://app.sandbox.midtrans.com/snap/v1/transactions" />
    <add key="MidTransEndPointProduction" value="https://app.midtrans.com/snap/v1/transactions" />
    <add key="MidTransRequestHeaderAccept" value="application/json" />
    <add key="MidTransRequestHeaderContentType" value="application/json" />
    <add key="MidTransRequestHeaderServerKey" value="VT-server-dj_OnqoMMzLc2PRxZK9cKcqj" />
    <add key="MidTransRequestHeaderClientKey" value="VT-client-aKEPcI89KSxlaM_e" />
    <add key="MidTransEnabledPayment" value="credit_card,mandiri_clickpay,cimb_clicks,bca_klikbca,bca_klikpay,bri_epay,telkomsel_cash,echannel,bbm_money,xl_tunai,indosat_dompetku,mandiri_ecash,permata_va,bca_va,other_va,kioson,indomaret,gci" />
    <add key="MidTransCreditCardSecure" value="true" />
    <add key="MidTransCreditCardChannel" value="migs" />
    <add key="MidTransCreditCardBank" value="bca" />
    <add key="MidTransCreditCardInstallmentRequired" value="false" />
    <add key="MidTransCreditCardInstallmentTermBni" value="3,6,12" />
    <add key="MidTransCreditCardInstallmentTermMandiri" value="3,6,12" />
    <add key="MidTransCreditCardInstallmentTermCimb" value="3" />
    <add key="MidTransCreditCardInstallmentTermBca" value="3,6,12" />
    <add key="MidTransCreditCardInstallmentTermOffline" value="6,12" />
    <add key="MidTransCreditCardWhilelistBin" value="48111111,41111111" />
    <add key="MidTransExpiryUnit" value="minutes" />
    <add key="MidTransExpiryDuration" value="1" />
  </appSettings>
</configuration>